src/n8n/InsurTech Voice Claim Intake.json
{
  "name": "InsurTech Voice Claim Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "claim-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "55db9e36-48f5-42c9-89b3-4c83f9252268",
      "name": "Webhook - Receive Claim",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -64,
        -64
      ],
      "webhookId": "claim-intake"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appqHqK2DwpB4Sw63",
          "mode": "list",
          "cachedResultName": "Claims",
          "cachedResultUrl": "https://airtable.com/appqHqK2DwpB4Sw63"
        },
        "table": {
          "__rl": true,
          "value": "tblgym1JKBHBXL0ar",
          "mode": "list",
          "cachedResultName": "Imported table",
          "cachedResultUrl": "https://airtable.com/appqHqK2DwpB4Sw63/tblgym1JKBHBXL0ar"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estimated Damage": "={{ $json.body.estimatedDamage || 0}}",
            "Approved Amount": 0,
            "Policy ID": "={{ $json.body.policyId || 'Unknown'}}",
            "Customer Name": "={{ $json.body.customerName || 'Unknown'}}",
            "Incident Type": "={{ $json.body.incidentType || 'General Accident'}}",
            "Description": "={{ $json.body.description || ''}}",
            "Location": "={{ $json.body.location || 'Unknown'}}",
            "Date Reported": "={{ $now }}",
            "Status": "Submitted"
          },
          "matchingColumns": [
            "id",
            "Policy ID",
            "Customer Name",
            "Date Reported",
            "Incident Date",
            "Incident Type",
            "Description",
            "Location",
            "Status",
            "Estimated Damage",
            "Approved Amount",
            "Agent Notes"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Policy ID",
              "displayName": "Policy ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Customer Name",
              "displayName": "Customer Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Reported",
              "displayName": "Date Reported",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Incident Date",
              "displayName": "Incident Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Incident Type",
              "displayName": "Incident Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Approved",
                  "value": "Approved"
                },
                {
                  "name": "Under Review",
                  "value": "Under Review"
                },
                {
                  "name": "Paid",
                  "value": "Paid"
                },
                {
                  "name": "Submitted",
                  "value": "Submitted"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estimated Damage",
              "displayName": "Estimated Damage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Approved Amount",
              "displayName": "Approved Amount",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Agent Notes",
              "displayName": "Agent Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e3d4111e-f1dc-48c8-9467-78cd33b65ed7",
      "name": "Create Claim in Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        160,
        -64
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "n18Am3Fzlda2YDsU",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \n  \"success\": true, \n  \"claimId\": $json.id, \n  \"message\": \"Claim \" + $json.id + \" submitted successfully\",\n  \"status\": \"Submitted\",\n  \"customerName\": $('Webhook - Receive Claim').item.json.customerName\n} }}",
        "options": {}
      },
      "id": "6495bf56-22b3-4266-9a38-882cd454a295",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        384,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appTutL3UMHAhVNgW",
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://airtable.com/appTutL3UMHAhVNgW"
        },
        "table": {
          "__rl": true,
          "value": "tblzksbma25RrqA8z",
          "mode": "list",
          "cachedResultName": "Log",
          "cachedResultUrl": "https://airtable.com/appTutL3UMHAhVNgW/tblzksbma25RrqA8z"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Action Type": "Created",
            "Details": "={{ $json.fields['Customer Name']+\" reported an \"+$json.fields['Incident Type']+\" on \"+ $json.fields.Location+\".\"}}",
            "Created By": "={{ \"Customer: \"+$json.fields['Customer Name'] || \"n8n\" }}",
            "Log Entry": "={{ \"Created new Claim related to policy \"+$json.fields['Policy ID']+\". \" }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Log Entry",
              "displayName": "Log Entry",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Related Task",
              "displayName": "Related Task",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Created By",
              "displayName": "Created By",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Action Type",
              "displayName": "Action Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Created",
                  "value": "Created"
                },
                {
                  "name": "Edited",
                  "value": "Edited"
                },
                {
                  "name": "Status Change",
                  "value": "Status Change"
                },
                {
                  "name": "Comment",
                  "value": "Comment"
                },
                {
                  "name": "Attachment Added",
                  "value": "Attachment Added"
                },
                {
                  "name": "Other",
                  "value": "Other"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Details",
              "displayName": "Details",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d353f675-0e34-4572-a2dc-ea1ddc891ab4",
      "name": "Log",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        384,
        -240
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "n18Am3Fzlda2YDsU",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract claim data from webhook\nconst data = $json.body ?? $json;\n\n// Choose email + Jira assignee email\nlet email;\nlet assigneeEmail;\nlet priority = \"Medium\";\n\nswitch ((data.incidentType || \"\").trim()) {\n  case \"Auto Accident\":\n    email = \"claims_auto@yourcompany.com\";\n    assigneeEmail = \"auto_team_lead@yourcompany.com\";\n    priority = \"High\";\n    break;\n  case \"Theft\":\n    email = \"claims_theft@yourcompany.com\";\n    assigneeEmail = \"theft_team_lead@yourcompany.com\";\n    priority = \"High\";\n    break;\n  case \"Fire\":\n    email = \"claims_fire@yourcompany.com\";\n    assigneeEmail = \"fire_team_lead@yourcompany.com\";\n    priority = \"Highest\";\n    break;\n  default:\n    email = \"claims_general@yourcompany.com\";\n    assigneeEmail = \"claims_general@yourcompany.com\";\n    break;\n}\n\nconst subject = `New ${data.incidentType || \"Claim\"} – Policy ${data.policyId || \"\"}`;\nconst body = `\n<p><strong>New Claim Received</strong></p>\n<p><strong>Policy ID:</strong> ${data.policyId || \"\"}</p>\n<p><strong>Customer:</strong> ${data.customerName || \"\"}</p>\n<p><strong>Incident Type:</strong> ${data.incidentType || \"\"}</p>\n<p><strong>Date:</strong> ${data.incidentDate || \"\"}</p>\n<p><strong>Location:</strong> ${data.location || \"\"}</p>\n<p><strong>Estimated Damage:</strong> $${data.estimatedDamage ?? 0}</p>\n<p><strong>Description:</strong><br/>${data.description || \"\"}</p>\n<p>– Automated Claim Intake System</p>\n`;\n\nconst jira = {\n  project_key: \"CLAIMS\",\n  summary: `${data.incidentType || \"Claim\"} – ${data.policyId || \"\"}`,\n  description: [\n    `Policy ID: ${data.policyId || \"\"}`,\n    `Customer: ${data.customerName || \"\"}`,\n    `Incident Type: ${data.incidentType || \"\"}`,\n    `Date: ${data.incidentDate || \"\"}`,\n    `Location: ${data.location || \"\"}`,\n    `Estimated Damage: $${data.estimatedDamage ?? 0}`,\n    \"\",\n    \"Description:\",\n    `${data.description || \"\"}`\n  ].join(\"\\n\"),\n  assignee_email: assigneeEmail, // we’ll resolve this next\n  issuetype: \"Task\",\n  priority\n};\n\nreturn [\n  {\n    json: {\n      ...data,\n      email,\n      subject,\n      body,\n      jira\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        96
      ],
      "id": "3760ca12-28d2-4ed7-bad3-75da25bf5069",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "={{$json.email}}",
        "subject": "={{$json.subject}}",
        "message": "={{$json.body}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        384,
        96
      ],
      "id": "62a46e3b-ca4a-4ce7-be10-44a5b5697086",
      "name": "Send a message",
      "webhookId": "94ff8a4f-a1f3-4b79-a9a2-c97bda069d9f",
      "credentials": {
        "gmailOAuth2": {
          "id": "e4h1DSVeeidHMiXY",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://forgeai1.atlassian.net/rest/api/3/user/search?query={{$json.jira.assignee_email}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        288
      ],
      "id": "371af642-c2e3-48c4-ae66-f5a0cca4c1e1",
      "name": "HTTP Request",
      "credentials": {
        "httpBasicAuth": {
          "id": "URNg5DyZ44WJNVRv",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the first user from Jira response\nconst users = $json;\n\nif (!Array.isArray(users) || users.length === 0) {\n  throw new Error(\"No Jira user found for \" + $json.jira.assignee_email);\n}\n\nconst accountId = users[0].accountId;\n\n// Merge accountId into the original claim data\nconst claim = $item(0).$node[\"Code\"].json; // <- name of your first code node\nclaim.jira.assignee = accountId;\n\nreturn [{ json: claim }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        288
      ],
      "id": "e5daa51b-f757-4ef4-9d8d-7dfa8ce14990",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "=={{$json.jira.project_key}}",
          "mode": "id"
        },
        "issueType": {
          "__rl": true,
          "value": "=={{$json.jira.issuetype}}",
          "mode": "id"
        },
        "summary": "=={{$json.jira.summary}}",
        "additionalFields": {
          "assignee": {
            "__rl": true,
            "value": "{{$json.jira.assignee}}",
            "mode": ""
          }
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        800,
        288
      ],
      "id": "f9df4dfd-301f-4116-82bb-688de46d1bd1",
      "name": "Create an issue",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "zvD3QTt6k5kONwlE",
          "name": "Jira SW Cloud account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook - Receive Claim": [
      {
        "json": {
          "headers": {
            "host": "mitch1058.app.n8n.cloud",
            "user-agent": "curl/8.13.0",
            "content-length": "245",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "93.108.240.67",
            "cf-ew-via": "15",
            "cf-ipcountry": "PT",
            "cf-ray": "99ae18fb86c3bd0e-LIS",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "93.108.240.67, 172.68.103.99",
            "x-forwarded-host": "mitch1058.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-74-67bd674f6f-5vf92",
            "x-is-trusted": "yes",
            "x-real-ip": "93.108.240.67"
          },
          "params": {},
          "query": {},
          "body": {
            "policyId": "POL-001",
            "customerName": "John Smith",
            "incidentDate": "2024-11-01",
            "incidentType": "Auto Accident",
            "description": "Hit from behind at red light. Rear bumper damaged.",
            "location": "Main St and 5th Ave",
            "estimatedDamage": 3500
          },
          "webhookUrl": "https://mitch1058.app.n8n.cloud/webhook/claim-intake",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook - Receive Claim": {
      "main": [
        [
          {
            "node": "Create Claim in Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Claim in Airtable": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Create an issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b0b45894-9654-4559-8508-6c5b60442217",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f9b227d2d84f28d02c29ac5f2e74f13ab70b9a99d96da9de968dd11ca410a90"
  },
  "id": "33EmjPDnsT8Ig6dD",
  "tags": []
}